@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-sans: var(--font-geist-sans);
}

body {
  background: #ffffff;
  color: #171717;
}

.dark body {
  background: #111827;
  color: #f3f4f6;
}
